{%- if product.metafields.custom.icon_with_text != blank -%}
  {%- assign temp = product.metafields.custom.icon_with_text | split: '__' -%}
  <div style="border: 1px solid black; margin-bottom: 1rem; display: inline-flex; padding:1rem;">
    <div style="height: 2.5rem; width: 2.5rem; padding: 1px; ">
      {%- assign k = temp | first | handleize -%}
      {%- render 'icon', icon: k -%}
    </div>
    <div
      style="
        padding: 1px; display: flex;
        align-items: center;
      "
    >
      {{ temp | last }}
    </div>
  </div>
{% endif %}
