<div class="page-width">
  <div class="center">
    <div class="h2">Error 404</div>
    <div class="h2">Not Found</div>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% style %}
{% endstyle %}

{% javascript %}
{% endjavascript %}
