<div
  class="page-width login-page"
>
  <div class="h4 center common-padding">Login Page</div>
  {% if customer %}
    <div class="h6 center common-padding">You are already Logged In!!!</div>
    <div class="center common-padding">
      <a class="button button--primary" href="{{ routes.account_logout_url }}">Logout</a>
    </div>
  {% else %}
    {% form 'customer_login', return: routes.account_url %}
      {{ form.errors | default_errors }}
      <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="email" name="customer[email]">

        <label for="password"><b>Password</b></label>
        <input type="password" name="customer[password]">

        <input type="submit" class="button button--primary common-padding" value="Sign in">
        <a class="button button--primary common-padding account-login-redirect">Forget Password</a>

        <div class="common-padding">
          <div class="container register">
            <p>
              <b>Don't have an account?</b>
              <a class="button button--primary" href="{{ routes.account_register_url }}">Register</a>.
            </p>
          </div>
        </div>
      </div>
    {% endform %}
  {% endif %}
</div>

{% form 'recover_customer_password' %}
  {{ form.errors | default_errors }}
  <div class="page-width recover hidden" id="recover">
    <div class="h4 center common-padding">Reset Your Password</div>
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="email" name="customer[email]">

      <div class="flex">
      <div class="submit">
        <input type="submit" value="Submit" class="button button--primary">
      </div>
      <div class="account-recover-redirect left account-subheading">
        <a class="button button--primary" href="#">Cancel</a>
      </div>
      </div>
    </div>
  </div>
{% endform %}

{% style %}
  @media only screen and (min-width: 990px) {
      .login-page {
        max-width: 60%;
      }
  }
  .container input[type=email], .container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .register {
    background-color: #f1f1f1;
    text-align: center;
  }
{% endstyle %}

{% javascript %}
  let login = document.querySelector(".login-page");
  let recover = document.querySelector(".recover");
  let login_redirect = document.querySelector(".account-login-redirect");
  let recover_redirect = document.querySelector(".account-recover-redirect")

  login_redirect.addEventListener('click',()=>{
    recover.classList.remove("hidden");
    login.classList.add("hidden");
  })

  recover_redirect.addEventListener('click',()=>{
    recover.classList.add("hidden");
    login.classList.remove("hidden");
  })
{% endjavascript %}

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
