<div class="page-width">
  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="container">
      <label for="password">Password</label>
      <input type="password" name="customer[password]">

      <label for="password_confirmation">Password confirmation</label>
      <input type="password" name="customer[password_confirmation]">

      <input type="submit" class="button button--primary" value="Reset password">
    </div>
  {% endform %}
</div>

{% style %}
  .container input[type=email], .container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
{% endstyle %}

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
