{% liquid 

  assign product=section.settings.product
  assign time=product.metafields.custom.test

%}

{% if disp %}
<div>
  <h4>Timed Section</h4>
</div>
{% endif %}
{{ time }}

{% schema %}
{
  "name": "Featured Blogs",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Timed Section"
    }
  ]
}
{% endschema %}