{% liquid 

  assign product=section.settings.product
  assign time=product.metafields.custom.test
  assign date=time | split: 'T'

%}

{% if disp %}
<div>
  <h4>Timed Section</h4>
</div>
{% endif %}
{{ date }}

{% schema %}
{
  "name": "Timed Section",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Timed Section"
    }
  ]
}
{% endschema %}