{% liquid 

  assign product=section.settings.product
  assign time=product.metafields.custom.test
  assign date=time | split: 'T' | first

  assign today='now' | date: '%Y-%m-%d'
  
  assign disp=false

  if today<=date
    assign disp=true
  endif
  
%}

{% if disp %}
<div>
  <h4>Timed Section</h4>
</div>
{% endif %}
<div>{{ time }}</div>
<div>{{ date }}</div>
<div>{{ today }}</div>

{% schema %}
{
  "name": "Timed Section",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Timed Section"
    }
  ]
}
{% endschema %}