{% liquid 

  assign product=section.settings.product
  assign give_time=product.metafields.custom.test | date: '%s'

  assign today='now' | date: '%s'
  
  assign disp=false

  if today<=give_time
    assign disp=true
  endif
  
%}

{% if disp %}
<div class="page-width">

  <div>

  </div>
  
  <div>
  {% render 'product-card', product: product %}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Timed Section",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Timed Section"
    }
  ]
}
{% endschema %}