{% liquid 

  assign product=section.settings.product
  assign give_time=product.metafields.custom.test | date: '%s'

  assign today='now' | date: '%s'
  
  assign disp=false

  if today<give_time
    assign disp=true
  endif
  
%}

{% if disp %}
<div>
  <h4>Timed Section</h4>
</div>
{% endif %}
<div>{{ give_time }}</div>
<div>{{ today }}</div
<div>{{ disp }}</div>

{% schema %}
{
  "name": "Timed Section",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Timed Section"
    }
  ]
}
{% endschema %}